.header{
    background-color: #D0CE7C;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1{
    max-width: 20%;
    max-height: 20%;
}

.logo2{
    max-width: 15%;
    max-height: 15%;
}

.listingview{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    color: #585123;
    font-family: "Familijen Grotesk", monospace; 

}

.pic{
    max-width: 20%;
    max-height: 10%;
    margin-top: 30px;
    align-items: center;
}



.title{
    margin-top: 20px;
    text-align: center;
    font-family: "Familijen Grotesk", monospace;
    color:#585123;
    font-size: 24px;
}

.description{
    margin-top: 20px;
    text-align: center;
    font-family: "Familijen Grotesk", monospace;
    color:#585123;
    font-size: 20px;
}

.quantity{
    margin-top: 20px;
    text-align: center;
    font-family: "Familijen Grotesk", monospace;
    color:#585123;
    font-size: 20px;
}

.option{
    margin-top: 20px;
    text-align: center;
    font-family: "Familijen Grotesk", monospace;
    color:#585123;
    font-size: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Familijen Grotesk", monospace;
    color:#585123;
}

.home{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    font-family: "Familijen Grotesk", monospace;
    color:#EEC170;
}

.btn{
    font-size: 30px;
    margin-bottom: 20px;
    color:#EEC170;
}


